input[type=search] {
    -webkit-appearance: textfield;
}

.indent {
    padding-left: 20px;
}

.inline {
    display: inline-block;
}

u {
    text-decoration: underline;
}

nav {
    display: block;
    padding: 10px 0 20px 0;
}

.nav > li > a {
    padding: 10px 12px;
}

.panel-title > a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-title > a.collapsed:after {
    content: "\e080";
}

.container-btn-add {
    margin-bottom: 20px;
    text-align: right;
}

.form-nav {
    max-width: 800px;
    margin: 0 auto;
}

.form-control.error {
    border-color: red;
    background-color: lightpink;
}

label.error {
    display: block;
    color: red;
}

footer {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-color: #DAE9F5;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    display: inline-block;
    font-size: 32px;
    color: #163760;
}

h2 {
    color: #993333;
    font-weight: bold;
}

.table {
    background-color: #fff;

}

.table-responsive {

    background: #fff;
    padding: 8px;
    border: #ccc 1px solid;
}

/*** Nav bar styling  ***/

nav {
    padding: 10px 15px 0 15px;
}

.navbar {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: #DAE9F5;
    border-color: #DAE9F5;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #04233D;
    color: #fff;
}

/* profile button */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #163760;
    color: #fff;
}

/*** tab styling ***/

.nav-tabs {
    border-bottom: 2px solid #163760;
}

.nav-tabs.nav-justified > li {
    vertical-align: bottom;
    width: auto;
}

.nav-tabs > li > a {
    border-radius: 0;
    background-color: #f2f2f2;
    border: 1px solid #B3B3B3;
    border-bottom: 0;
    color: #666666;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #163760;
    color: #fff;

}

/* form */

input, .form-control {
    border-radius: 0;
    border: 0;
    background-color: #f2f2f2;
}

label {
    color: #4D4D4D;
    margin-top: 10px;
}

/* Panel */

.panel-default > .panel-heading {
    background-color: #993333;
    color: #fff;
}

/* panel button */

.btn {
    border-radius: 0;
}

.btn-default {
    color: #fff;
    background-color: #993333;
    border: none;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.active {
    background-color: #660000;
    color: #fff;
    border: none;
}

/* primary button */
.btn-primary {
    color: #fff;
    background-color: #163760;
    border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active {
    background-color: #04233D;
    color: #fff;
    border: none;
}

/* secondary button */
.btn-secondary {
    background-color: #cccccc;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary.active {
    background-color: #bbbbbb;
}

/* table paginate button */

.paginate_button.current {
    background-image: none !important;
    background: none !important;
    background-color: #993333 !important;
    color: #fff !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
    border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

    color: #fff !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {

    border: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-image: none !important;
    background: none !important;
    background-color: #440A0A !important;
    color: #fff !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-image: none !important;
    background: none;
    background-color: #330000;
    color: #fff;
    border: none;
}

/* next previous button */

.pager li > a, .pager li > span {
    border-radius: 0;
    background-color: #163760;
    color: #fff;
}

.pager li > a:focus, .pager li > a:hover {
    background-color: #04233D;
}

.panel-title > a:after {
    color: #fff;
}

/* loading modal styles */

footer .modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../images/slow-loading.png') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading footer .modal {
    display: block;
}

/* CAF strip */

#id-strip {
    background-color: #f2f2f2;
}

#id-strip-review-period {
    text-align: right;
}

@media (max-width: 992px) {
    #id-strip-review-period {
        text-align: left;
    }
}

/* misc. */

.btn-radio-clear {
    cursor: pointer;
}

@media (min-width: 992px) {
    .hr {
        border-top: solid 1px #eee;
    }
}

/* autocomplete */

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
